<ion-content hide-header-footer class="main-container avoid-bottom-tabs-space ui-container"
  (ionScrollEnd)="logScrollEnd($event)" scrollEvents="true" #contentView>
  <div slot="fixed" class="fixed-container">
    <sb-library-filters [list]="categoryMediumNamesArray" [selectedItems]="mediumsSelected"
      [layout]="mediumFilterLayout" (selectedFilter)="mediumClickEvent($event, true)">
    </sb-library-filters>
    <sb-library-filters [list]="categoryGradeLevelsArray" [selectedItems]="classSelected" [layout]="classFilterLayout"
      (selectedFilter)="classClickEvent($event, true);">
    </sb-library-filters>
  </div>
  <div class="scrollable-container">
    <ion-refresher #libraryRefresher slot="fixed" (ionRefresh)="swipeDownToRefresh($event)"></ion-refresher>
    <div *ngIf="!guestUser" style="padding-top: 5px;">
      <ng-container *ngIf="searchApiLoader && dynamicResponse && dynamicResponse.length === 0">
        <sb-course-cards-hlist [type]="courseCardType.MY_COURSE_RECENTLY_VIEWED_CARD_GRID"
          [isLoading]="searchApiLoader">
        </sb-course-cards-hlist>
      </ng-container>
    </div>
  
    <!-- Loader while fetching -->
    <ng-container *ngIf="coursesLoading; else courseContent">
      <div class="loader-wrapper">
        <ion-spinner name="crescent"></ion-spinner>
        <p>{{ 'LOADING' | translate }}</p>
      </div>
    </ng-container>
    
    <!-- Course content -->
    <ng-template #courseContent>
      <ng-container *ngIf="(inProgressCourses?.length || 0) > 0 || (completedCourses?.length || 0) > 0; else noCourses">
    
        <!-- In-progress courses -->
        <div *ngIf="(inProgressCourses?.length || 0) > 0">
          <h3 class="enrolled-section-title">
            {{ 'CONTINUE_LEARNING' | translate }}
            <span class="number-of-courses">{{ inProgressCourses.length }}</span>
          </h3>
          <div class="enrolled-course-grid">
            <ng-container *ngFor="let course of inProgressCourses">
              <ion-card class="enrolled-full-width-card" (click)="openEnrolledCourse(course)">
                <div class="enrolled-course-card-header">
                  <div class="enrolled-course-label">COURSE</div>
                  <div class="enrolled-course-left">
                    <img [src]="defaultAppIcon" alt="course logo" class="enrolled-course-logo" />
                  </div>
                  <div class="enrolled-course-info">
                    <h2 class="enrolled-course-title">{{ course.courseName }}</h2>
                  </div>
                </div>
              </ion-card>
            </ng-container>
          </div>
        </div>
    
        <!-- Completed courses -->
        <div *ngIf="(completedCourses?.length || 0) > 0">
          <h3 class="enrolled-section-title">
            {{ 'COMPLETED_COURSES' | translate }}
            <span class="number-of-courses">{{ completedCourses.length }}</span>
          </h3>
          <div class="enrolled-course-grid">
            <ng-container *ngFor="let course of completedCourses">
              <ion-card class="enrolled-full-width-card" (click)="openEnrolledCourse(course)">
                <div class="enrolled-course-card-header">
                  <div class="enrolled-course-label">COURSE</div>
                  <div class="enrolled-course-left">
                    <img [src]="defaultAppIcon" alt="course logo" class="enrolled-course-logo" />
                  </div>
                  <div class="enrolled-course-info">
                    <h2 class="enrolled-course-title">{{ course.courseName }}</h2>
                  </div>
                </div>
              </ion-card>
            </ng-container>
          </div>
        </div>
    
      </ng-container>
    
      <!-- Fallback -->
      <ng-template #noCourses>
        <p class="no-course-msg">{{ 'NO_COURSE_ENROLLED' | translate }}</p>
      </ng-template>
    </ng-template>


    <div class="ion-padding ion-text-center mt-32 mb-32" style="padding-top: 34px;"
      *ngIf="!commonUtilService?.networkInfo?.isNetworkAvailable">
      <img src="assets/imgs/outline-cloud_off.svg" alt="" />
      <ion-text>
        <h6 class="offline-header">
          <strong>{{ 'NO_INTERNET_TITLE' | translate }}</strong>
        </h6>
      </ion-text>
      <p class="offline-content">{{ 'OFFLINE_WARNING_ETBUI' | translate }}</p>
    </div>
  </div>

</ion-content>